node_modules
storage/*
tmp
config/*
!config/README.md
!config/*-example.json
test.js
*-.js
*-.json
data/*
!data/*-example.json
!data/*-reference.json
!data/birthday.json
!data/nameParts.json
site/*

# For Visual Studio's temp directory
.vs/
