node_modules
storage/*
tmp
config/*
!config/README.md
!config/*-example.json
test.js
*-.js
*-.json
data/banned.json
data/extraLifeDonors.json
data/streams.json
site/*
.DS_STORE

# For Visual Studio's temp directory
.vs/
